body{
    margin: 0;
    padding: 0;
    background-image: url(2740431.jpg) ;
    background-size: 500px;
}
#nyaman {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #482E1D ;
  }
  
 #nyaman li {
    float: left;
  }
  
 #nyaman .gambar1 #utter{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    width: 150px;
  }
  
 #nyaman .gambar2 #profil{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 20px;
    width: 50px;
  }
#Tajuk{
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 27px;
    width: 200px;
    height: 20px;
  }
  table th, tr, td{
    border: 1px solid black;
  }
  #tabel{
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:864px;
    height: 296px;
    margin-left: 350px;
    margin-top: 80px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}
table tr, td{
    width: 200px;
    height: 50px;
    
}
#tbody #tiga #genap{
  color: white;
 
}
th{
  color: white;
  border-radius: 20px;
}
#tbody #tiga #genap{
  background-color: #482E1D;}
  #tbody #tiga #ganjil .tiga{
    border-radius: 20px 0px 0px 0px;
  }
  #tbody #tiga #ganjil .empat{
    border-radius: 0px 20px 0px 0px;
  }
  #tbody #tiga #genap .dua{
    border-radius: 0px 0px 0px 20px;
  }
  #tbody #tiga #genap .satu{
    border-radius: 0px 0px 20px 0px;
  }
#thead tr th {
    width: 158px;
    background-color: #482E1D;
}
#tiga #hapus{
    border: none;
    align:center;
    width: 100px;
}
#tiga #edit{
    border: none;
    align:center;
    width: 100px;
}
#tiga #hapus img{
    width: 20px;
    padding: 0;
}
#tiga #edit img{
    width: 20px;
}
table{
    text-align: center;
}
#side{
    display: block;
    background-color: bisque;
    position: fixed;
    width: 10%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    text-align: center;
    color: white;
}
#side li {
    display: block;
    background-color: #482E1D;
    align-content: center;
    width: 75%;
    height: 4%;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5% 3%;
  text-decoration: none;
  color: white;
}
#side li a {
    display: block;
    color: #000;
    padding: 5% 3%;
    text-decoration: none;
    color: white;
  }
  #tbody #edit, #hapus{
    background-color: none;
  }

